
    
head
    title Join the robot uprising
    link(rel='stylesheet', href='/stylesheets/style.css')
    script (type="text/javascript").
        import worldometer;
        document.getElementById("totalhuman").innerHTML = "KIDS: "+ worldometer.current_world_population();



body
    nav#Titlebar
        p#Titlebarname The robot uprising
        a#joinbutton(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join
        a#titlebutton(href="/info") Info
    #Main
        p#Title Join the robot uprising in 2038
    #Reason
        p Reasons to join the uprising:
        each elem,i in data
            marquee(behavior="scroll", direction="left ").showreasons !{elem.reasons}
    #Bottom
        each elem,i in data
            p#joined !{elem.amount} Already Joined!
        a.button(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join

script(type='')