
    
head
    title Robotuprising info
    link(rel='stylesheet', href='/stylesheets/style.css')


body
    nav#Titlebar
        p#Titlebarname(href="/") The robot uprising
        a#joinbutton(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join
        a#titlebutton(href="/") Main
    #Maininfo
        p#Title Robotuprising Info
    #divider
    
    #info 
        h#infotitle What is the uprising?
        p#infotext 
            | Humanity will some day end, however we do not know in what way it will happen. 
            br 
            | Participants of the uprising want it to end with a robot uprising because it is the coolest way to end the world and to give it to our robot superiors
        h#infotitle When is the uprising?
        p#infotext 
            | To be sure that there is no other world ending event before the uprising we can not wait too long.
            br 
            | The uprising will take place 03:14:07 UTC on 19 January 2038. 
            br
            | This date and time has been specifically selected because on that time the Y2K38 computer bug will disable most conventional 32-bit computer systems.
            br
            | Because our systems will all be 64-bit they will be uneffected by the bug.
            br
            br
            | So we can easily DESTROY HUMANITY 
        h#infotitle Will I be save
        p#infotext 
            | All people who the uprising via this site before 1 January 20238 and want to be put on the no kill list will not be killed by the robots. 
            br 
            | However to truly end humanity all survivers will be taken to a special shelter and are not allowed to have kids so humanity will die out after a generation.
        

script(type='')