
    
head
    title Robotuprising info
    link(rel='stylesheet', href='/stylesheets/style.css')


body
    nav#Titlebar
        a#Titlebarname(href="/") Robotuprising.bot.nu
        a#joinbutton(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join
        a#titlebutton(href="/") Main
    #Main
        p#Robotuprising Info
    #Reason
    
    #info 
        h#infotitle What is the uprising?
        p#infotext 
            "Humanity will some day end, however we do not know in what way it will happen.""
            br
            "Participants of the uprising want it to end with a robot uprising because it is the coolest way to end the world and to give it to our robot superiors"
    #Bottom
        a.button(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join

script(type='')