
    
head
    title Robotuprising info
    link(rel='stylesheet', href='/stylesheets/style.css')


body
    nav#Titlebar
        p#Titlebarname(href="/") Robotuprising.bot.nu
        a#joinbutton(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join
        a#titlebutton(href="https://forms.gle/c2txiAvgJriVUN1Q7") Info
    #Main
        p#Robotuprising Info!
    #Reason

    #Bottom
        a.button(href="https://forms.gle/c2txiAvgJriVUN1Q7") Join

script(type='')